<!DOCTYPE HTML>
<html lang="en">

<head>
    <%- include("partials/head",title) %>
</head>

<body>
    <header>
        <%- include ("partials/header",user) %>
    </header>

    <main class="searched-items-list-page">
        <div class="container">
            <h5>Listed Items</h5>

            <%  for(var result of results) { %>
            <form id="frm-bidnow" action="/Item" method="POST">
                <div class="row">
                    <div class="col l2 s12"><img src="assets/images/products/<%= result.image %>" /></div>
                    <div class="col l6 s12">
                        <div id="product-name"><%= result.name %></div>
                        <div id="product-description"><%= result.description %></div>
                        <div id="product-price">$&nbsp;<%= result.price %></div>
                        <div id="product-seller-name">Seller - <%= result.seller %></div>
                    </div>
                    <div class="col l4 s12">
                        <input id="prod-id" name="Product_id" type="hidden" value=<%= result._id %>>
                        <button id="btn-signin" class="waves-effect waves-light btn right app-button" type="submit">Bid
                            Now</button>
                    </div>
                </div>
            </form>
            <% } %>
        </div>
    </main>

    <footer class="page-footer">
        <%- include ("partials/footer_bottom") %>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="env.js"></script>
</body>

</html>